@charset "UTF-8";

#result table {
    border-collapse: collapse;
}
#result table tr th{
    background-color: #e9f1ff;
}
#result table tr th, #result table tr td{
    border: 1px solid #aeaeae;
    padding: 3px;
}